:host {
  cursor: pointer;

  display: block;
  max-width: fit-content;  
  position: relative;

  --text-color: #111122;
  --highlight-color: #111122;
  --title-weight: 700;
}

.e-option__container {
  display: flex;
  align-items: center;
  z-index: 10;  
  color: var(--text-color);
}

.e-option__container--active {
  color: var(--highlight-color)
}

.e-option__description {
  font-size: 16px;
  line-height: 16px;
  font-weight: var(--title-weight);
  margin: 0;
}

.e-option__description:hover {
  color: var(--highlight-color)
}

.e-option__icon {
  font-size: 24px;
  margin-left: 6px;
}

.e-option__svg {
  height: 24px;
  width: auto;
  margin-left: 6px;
}

.e-option__tooltip {
  position: absolute;
  border: 1px solid #e8e8e8;
  top: 36px;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 6px 6px 0px rgba(0, 0, 0, 0.08);
  z-index: 10;
  max-width: fit-content;
  margin: 0 auto;
  background-color: #ffffff;
}

.e-option__tooltip--upwards {
  top: unset;
  bottom: 36px;
  box-shadow: 0 -6px 6px 0px rgb(0 0 0 / 8%);
}

.e-option__tooltip::before {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  top: -24px;
  height: 0px;
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #e8e8e8 transparent;
}

.e-option__tooltip::after {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  top: -23px;
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.e-option__tooltip--upwards::before {
  top: unset;
  bottom: -24px;
  border-color: #e8e8e8 transparent transparent transparent;
}

.e-option__tooltip--upwards::after {
  top: unset;
  bottom: -23px;
  border-color: white transparent transparent transparent;
}

.e-option__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 9;
}

.e-option__tooltip-item {
  color: var(--text-color);
  font-size: 16px;
  padding: 6px 8px 6px 16px;
  border-radius: 4px;
  text-align: right;
}

.e-option__tooltip-item:hover {
  color: var(--highlight-color);
  background-color: #faf8fd;
}